@page
@model WebApp.Pages.DevicesModel
@{
    ViewData["title"] = "Tilføj maskiner til dit strømforbrug";
}

<h1>h1</h1>
<p>Hvad foregår der?</p>
<div>
    <a href="https://www.nettopower.dk/elapparater/vaskemaskine/" target="_blank">link til vaskemaskine forbrug</a>
</div>

<h2>Dine Tilføjede maskiner</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Effect</th>
            <th>Runtime</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var device in @Model.Devices)
        {
            <tr>
                <td>@device.Id</td>
                <td>@device.Name</td>
                <td>@device.Description</td>
                <td>@device.Effect</td>
                <td>@device.RunTime</td>
            </tr>
        }
        
    </tbody>
</table>



