@page
@model WebApp.Pages.Device.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h2>Dine Tilføjede maskiner</h2>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Effect</th>
            <th>Runtime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Device)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Effect</td>
                <td>@item.Runtime</td>
            </tr>
        }
    </tbody>
</table>