@page
@model WebApp.Pages.Machines.IndexModel
@{
    ViewData["title"] = "Maskiner og strømforbrug";
}

<h1>Maskiner og deres strømforbrug</h1>
<p>
    <a asp-page="CreateMachine">Tilføj en ny maskine</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Effect</th>
            <th>Runtime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dev in Model.Devices)
        {
            <tr>
                <td>@dev.Id</td>
                <td>@dev.Name</td>
                <td>@dev.Description</td>
                <td>@dev.Effect</td>
                <td>@dev.RunTime</td>
            </tr>
        }
    </tbody>
</table>

